/* markdown.css */
.markdown-body {
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.7;
    max-width: 1024px;
    margin: 0 auto;
    padding: 2rem;
}

.markdown-body h1 {
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
    margin-top: 1em;
    margin-bottom: 16px;
}

.markdown-body ul, .markdown-body ol {
    padding-left: 2em; /* or any value you prefer */
    /* Optionally, add padding-top or padding-bottom for vertical spacing */
    /* padding-top: 0.5em; */
    /* padding-bottom: 0.5em; */
    margin-bottom: 1em; /* Adjust as needed */
}

.markdown-body table {
    border-collapse: collapse;
  }

  .markdown-body th, .markdown-body td {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
  }


/* Style code blocks and tokens as needed */
.markdown-body pre {
  background: #222;
  color: #fff;
  padding: 1em;
  border-radius: 6px;
  overflow-x: auto;
}

.markdown-body p {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* You can add more styles for .token, .token.keyword, etc. */
